:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --font-weight-stnd: 500;
  --font-weight-bold: 700;
  --font-weight-maxbold: 900;
  --stnd-letter-spacing: 0.03em;
  --stnd-font-size: 14px;
  --font-size-big: 16px;
  --text-color: #757575;
  --second-text-color: #212121;
  --main-color: #ffffff;
  --secondary-color: #2f303a;
  --accent-color: #2196f3;
  --dark-logo-color: #000;
  --transparency-color: rgba(255, 255, 255, 0.6);
  --alternative-bakcground-color: #f5f4fa;
}
/*BODY AND GENERAL RULES*/
body {
  font-family: var(--primary-font);
  font-size: var(--stnd-font-size);
  letter-spacing: var(--stnd-letter-spacing);
  color: var(--text-color);
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* HEADER */
.header-info {
  border-bottom: 1px solid #ececec;
}
.header-info > .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.header-list {
  margin-left: auto;
  display: flex;
  gap: 50px;
}
.logotype {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.19;
  color: var(--dark-logo-color);
}
.header-navigation {
  font-style: normal;
  font-weight: var(--font-weight-stnd);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.header-navigation:hover,
.header-navigation:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.header-contact {
  font-style: normal;
  font-weight: var(--font-weight-stnd);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}
/* FOOTER */
.page-footer {
  background-color: var(--secondary-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.studio-logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-color);
}
.one-word-color {
  color: var(--accent-color);
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.studio-address,
.address-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--main-color);
}
.footer-contact {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: var(--stnd-letter-spacing);
  color: var(--transparency-color);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
/*MAIN PAGE*/
.order-service {
  background-color: var(--secondary-color);
}
.order-service {
  padding: 200px 0;
  text-align: center;
}
.main-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  font-weight: var(--font-weight-maxbold);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}
.order-btn {
  padding: 10px 32px;
  border-radius: 4px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-big);
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-color);
  cursor: pointer;
  border: none;
}
/* OUR FEATURES SECTION */
.our-features-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.our-features-item {
  flex-basis: calc((100% - 90px) / 4);
}
.second-title-main {
  margin-bottom: 50px;
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--second-text-color);
}
.third-title-features {
  margin-bottom: 10px;
  font-weight: var(--font-weight-bold);
  font-size: var(--stnd-font-size);
  line-height: 1.42;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.text-our-features {
  line-height: 1.71;
}
/* WHAT WE DO SECTION */
.what-we-do-list {
  display: flex;
  gap: 30px;
}
/* OUR TEAM SECTION */
.our-team {
  background-color: var(--alternative-bakcground-color);
}
.second-title-team {
  margin-bottom: 50px;
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--second-text-color);
}
.our-team-list {
  display: flex;
  gap: 30px;
}
.team-card {
  width: 270px;
  background-color: var(--main-color);
  border-radius: 0px 0px 4px 4px;
}
.team-card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.third-title-team {
  margin-bottom: 10px;
  font-weight: var(--font-weight-stnd);
  font-size: var(--font-size-big);
  line-height: 1.19;
  text-align: center;
  color: var(--second-text-color);
}
.team-position {
  font-size: var(--font-size-big);
  line-height: 1.19;
  text-align: center;
}
/* PORTFOLIO PAGE */
.portfolio-nav-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.portfolio-button {
  padding: 6px 22px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: var(--font-weight-stnd);
  font-size: var(--font-size-big);
  line-height: 26px;
  text-align: center;
  border: none;
  border-radius: 4px;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
  cursor: pointer;
}
.portfolio-card-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-card {
  width: 370px;
  background-color: var(--main-color);
  border: 1px solid #eeeeee;
}
.portfolio-card-position {
  padding: 20px 24px;
}
.portfolio-title {
  margin-bottom: 4px;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}
.portfolio-text {
  font-size: var(--font-size-big);
  line-height: 1.9;
  letter-spacing: var(--stnd-letter-spacing);
}
